*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "DM Serif Display";
}

body{
    background-color: #FBFCFE;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
align-items: center;
padding: 5px 0;
margin-top: 7px;
}
.nav ul{
    display: flex;
    gap: 40px;
}
.nav__link{
color: #36536B;
font-family: "Public Sans";
font-weight: 700;
font-size: 15px;
line-height: 100%;
letter-spacing: 0px;

}

.nav__btn{
    background-color: #BA4270;
    padding: 15px 25px;
    color: aliceblue;
    border-radius: 24px;
 transition: 0.5s;
}
.nav__btn:hover{
    background-color: transparent;
    border: 2px solid #BA4270;
    color: #BA4270;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 218px;
    margin-top: 140px;

}

.header__content h1{
    font-family: "DM Serif Display";
font-weight: 400;
font-size: 72px;
line-height: 72px;
letter-spacing: -0.55px;
color: #36536B;
max-width: 546px;
}
.header__content h1:hover{
    color: darkgreen;
    transition: 1.2s;
}
.header__content img{
    width: 290px;
height: 485px;


}

.menu{
    display: none;
}

@media (max-width:992px){
.header__content{
    flex-direction: column-reverse;
    gap: 100px;
}
}

@media(max-width:650px){
    .nav ul{
        display: flex;
    }

    .menu{
    display: flex;
    }
}

.aloo{
display: flex;
justify-content: center;
gap: 125px;
margin-top: 200px;
width: 400px;
margin-left: 510px;
}
.aloo img{
    width: 505px;
height: 350px;
display: flex;
}

.aloo h2{
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
    color: #36536B;
    width: 445px;
    height: 55px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.aloo h2:hover{
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    height: 95px;


color: darkgreen;
transition: 1.5s;
}

.aloo p{
    font-family:" Public Sans";
font-weight: 400;
font-size: 15px;
line-height: 28px;
letter-spacing: 0px;
width: 445px;
height: 85px;
color: #6C8294;
display: flex;
align-items: center;
margin-top: 24px;
}
.text{
justify-content: center;

}

.bigml{
    display: flex;
    gap: 300px;
    justify-content: center;
    
}
.card img{
    width: 105px;
height: 105px;
margin-left:20px;

}
.card{
    margin-top: 50px;
    


}
.card p{
align-items: center;
font-family: Public Sans;
font-weight: 700;
font-size: 15px;
line-height: 25px;
letter-spacing: -0.14px;
justify-content: center;
margin-top: 20px;
display: flex;
margin-bottom: 40px;
}

.bg{
    background-color: #1B262F;
}

.bih{
    display: flex;
    justify-content: space-between;
 align-items: center;
}

.bih ul{
    display: flex;
    gap: 40px;
    font-family: "Public Sans";
font-weight: 700;
font-size: 15px;
line-height: 100%;  
letter-spacing: 0px;
width: 55px;
height: 20px;
text-align: center;
color: #FBFCFE;
margin-top: 30px;
margin-bottom: 20px;
text-align: center;
}
 img{
    width: 130px;
height: 30px;
text-align: center;
color: #FBFCFE;
}

.imgt{
    display: flex;
    text-align: center;
    gap: 2px;
    align-items: center;
    width: 120px;
height: 24px;


}


.lil{
    margin-top: 5px;
}



@media (max-width:768px) {
    .aloo{
        flex-direction: column;
        margin: 100px auto;
       
    }
    .aloo img{
        width: 400px;
    }

    
}




@media (max-width:768px) and (min-width:700px) {
    .bigml{
      gap: 10px;
      width: 680px;
     justify-content: center;
    }
       .card{
        width: 690px;
height: 310px;
gap: 10px;
justify-content: center;
       }
   

       .card p{
        width: 223px;
        height: 25px;
       }
 .card img{
    width: 65px;
height: 65px;
margin-left: 80px;
 }

 
}


@media (max-width:768px) and (min-width:430px){
    .bih{
        width: 500px;
        height: 100px;


    }
.bih ul{
    justify-content: left;
}
   
   .imgt{
    margin-left: 450px;
   }
}


@media (max-width:424px)  and (min-width:324px){
    .bigml{
       
       width: 325px;
      text-align: center;
       flex-direction: column;
    
      }    
        





     
}
@media (max-width:424px) and (min-width:324px){
    .bih{
        width: 300px;
 
height: 353px;



    }
.bih ul{
    display: block;
}
   
   .imgt{
display: block;

}
}